.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seconds {
    font-size: 22px;
    text-color: white;
    text-align: center;
    width: 300px;
    height: 40px;
}
.stack {
    width: 305px;
    height: 305px;
    margin-top: 10px;
}
.canvas {
    width: 305px;
    height: 305px;
    background-color: brown;
}
.success {
    left: 50px;
    top: 65px;
    width: 192px;
    height: 192px;
    object-fit: contain;
}
.bottom {
    margin-top: 10px;
    height: 30px;
    justify-content: center;
}
.button {
    margin-right: 10px;
    radius: 15px;
    icon-width: 30px;
    icon-height: 30px;
}